#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #f4f6f9;
}

.app {
  padding-top: 50px;
}

.card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.flex-start{
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .app {
    padding-top: 20px;
  }
}

.page{
  min-height: 100vh;
  min-width: auto;
}
