#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

body {
  background-color: #f4f6f9;
}

.app {
  padding-top: 50px;
}

.card {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border: none;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .app {
    padding-top: 20px;
  }
}

